{% extends "layout.njk" %}

{% block head %}
    <title>Receitas Frutos do Mar</title>
    <link rel="stylesheet" href="/styles/frutos-mar.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}

    <div class="title">
        <h1>Elegancias do Mar</h1>
    </div>

    <section class="cards">
        <div class="card" id="cbEJYbV2j2I">
            <div class="card_image-container">
                <img src="/img/img-1.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Salmão Grelhado</p>
            </div>
            <div class="card_info">
                <p>Preparo:<br>
                    1 Hora</p>
                <div class="card_price">
                    <p>Receita</p>
                </div>
            </div>
        </div>
        <div class="card" id="00Pj7O-bmyQ">
            <div class="card_image-container">
                <img src="/img/img-2.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Carangueijo Assado</p>
            </div>
            <div class="card_info">
                <p>Preparo:<br>
                    2 Horas</p>
                <div class="card_price">
                    <p>Receita</p>
                </div>
            </div>
        </div>
        <div class="card" id="e62M3LKAoQ0">
            <div class="card_image-container">
                <img src="/img/img-3.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Camarão A'lamargot</p>
            </div>
            <div class="card_info">
                <p>Preparo:<br>
                    1 Hora</p>
                <div class="card_price">
                    <p>Receita</p>
                </div>
            </div>
        </div>
        <div class="card" id="7fXGeNNJVhA">
            <div class="card_image-container">
                <img src="/img/img-4.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Lagosta</p>
            </div>
            <div class="card_info">
                <p>Preparo:<br>
                    4 Horas</p>
                <div class="card_price">
                    <p>Receita</p>
                </div>
            </div>
        </div>
        <div class="card" id="vrhzlxl7AO0">
            <div class="card_image-container">
                <img src="/img/img-5.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Mexilhões a Lon-niê</p>
            </div>
            <div class="card_info">
                <p>Preparo:<br>
                    3 Horas</p>
                <div class="card_price">
                    <p>Receita</p>
                </div>
            </div>
        </div>
        <div class="card" id="pLz-Er_f750">
            <div class="card_image-container">
                <img src="/img/img-6.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Lula Flambada</p>
            </div>
            <div class="card_info">
                <p>Preparo:<br>
                    1 Hora</p>
                <div class="card_price">
                    <p>Receita</p>
                </div>
            </div>
        </div>

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    {% block footer %}
        <script src="/scripts/receitas.js"></script>
    {% endblock %}

{% endblock %}