{% extends "layout.njk" %}

{% block head %}
    <title>L'eau La Bouche</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/main.css">
{% endblock %}

{% block content %}

    <div class="content">
        <!-- <div class="slider"></div> -->
        <div class="content-1">
            <div class="text">
                <h1>O melhor da culinária Gourmet</h1>
                <div class="traco">
                    <div class="bolinha"></div>
                    <div class="meio"></div>
                    <div class="bolinha"></div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="cont-1">
                <a href="https://www.linkedin.com/in/matheus-f-4a5732b4/" target="_blank">Insta</a>
                <div class="ball"></div>
            </div>
            <div class="cont-1">
                <a href="https://github.com/MatSa20" target="_blank">Facebook</a>
                <div class="ball"></div>
            </div>
            <div class="cont-1">
                <a class="contato" href="https://wa.me/11981959231" target="_blank">Pinterest</a>
                <div class="ball"></div>
            </div>
            <div class="cont-1">
                <a class="contato" href="https://www.youtube.com/user/jopanas1" target="_blank">Youtube</a>
                <div class="ball"></div>
            </div>
        </div>
    </div>

    {% block footer %}
        <script src="/scripts/index.js"></script>
    {% endblock %}

{% endblock %}