{% extends "layout.njk" %}

{% block head %}
  <title>Sobre</title>
  <link rel="stylesheet" href="/styles/sobre.css">
  <link rel="stylesheet" href="/styles/main.css">
{% endblock %}

{% block content %}

  <H1>PÁGINA EM DESENVOLVIMENTO...</h1>

  {% block footer %}
    <script src="/scripts/index.js"></script>
  {% endblock %}

{% endblock %}